# Ignore ROS datasets and bags
Perception/ros dataset/
*.bag
*.db3
*.log

# Python cache & virtual environments
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/
*.egg-info/

# IDE files & local C++ indexer databases
.vscode/*.db*
.vscode/*.lock
.idea/
*.swp
*.swo

# ROS 2 Build & Install Artifacts
build/
install/
log/
.colcon_install_layout
COLCON_IGNORE
